{% extends "base.html" %}
{% block content %}
<h1>Add Student</h1>
<form method="POST" action="{{ url_for('main.add_student') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.FirstName.label }}<br>
        {{ form.FirstName(size=32) }}
    </div>
    <div>
        {{ form.LastName.label }}<br>
        {{ form.LastName(size=32) }}
    </div>
    <div>
        {{ form.Email.label }}<br>
        {{ form.Email(size=64) }}
    </div>
    <div>
        {{ form.DateOfBirth.label }}<br>
        {{ form.DateOfBirth }}
    </div>
    <div>
        {{ form.Submit() }}
    </div>
</form>
{% endblock %}
